/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
 #map{
   height: 80%;
   margin-left:100px;
   margin-right:100px;
   margin-bottom:200px;
   float:center;
 }
 .reset,.view_route{
   margin-left:100px;
   margin-bottom:10px;
   float:center;
 }

 #background,footer,body {

  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-image: url("{%static 'media/img/background/restaurants-menu.jpg'%}");
  background-repeat:no-repeat;
  background-size:cover;
  background-attachment: fixed;
  background-position: center;
  z-index: 1;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

section.carousel_slide{

  display: flex;
  margin-left:100px;

}
#carousel{

display: flex;

}

/* range slider css*/
div.ui-slider-range.ui-widget-header {
background: #0000ff;
}

#map {
height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
height: 100%;
margin: 0;
padding: 0;
}
#floating-panel {
position: absolute;
top: 10px;
left: 25%;
z-index: 5;
background-color: #fff;
padding: 5px;
border: 1px solid #999;
text-align: center;
font-family: 'Roboto','sans-serif';
line-height: 30px;
padding-left: 10px;
}
#right-panel {
font-family: 'Roboto','sans-serif';
line-height: 30px;
padding-left: 10px;
}

#right-panel select, #right-panel input {
font-size: 15px;
}

#right-panel select {
width: 100%;
}

#right-panel i {
font-size: 12px;
}
#right-panel {
height: 100%;
float: right;
width: 390px;
overflow: auto;
}
#map {
margin-right: 400px;
}
#floating-panel {
background: #fff;
padding: 5px;
font-size: 14px;
font-family: Arial;
border: 1px solid #ccc;
box-shadow: 0 2px 2px rgba(33, 33, 33, 0.4);
display: none;
}
@media print {
#map {
height: 500px;
margin: 0;
}
#right-panel {
float: none;
width: auto;
}
}
#radiusDiv{

  margin-left:100px;
}


.table-wrapper-scroll-y {
display: block;
max-height: 200px;
margin-left:500px;
max-width: 50%;
background-color:white;
overflow-y: auto;
-ms-overflow-style: -ms-autohiding-scrollbar;

}

#search {

background-position: 10px 12px; /* Position the search icon */
margin-left:700px;
background-repeat: no-repeat; /* Do not repeat the icon image */
width: 50%%; /* Full-width */
font-size: 16px; /* Increase font-size */
padding: 12px 20px 12px 40px; /* Add some padding */
border: 1px solid #ddd; /* Add a grey border */
margin-bottom: 12px; /* Add some space below the input */
}
