{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <!-- -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

   <!--- basic page needs
   ================================================== -->
   <meta charset="utf-8">
	<title>Infinity</title>
	<meta name="description" content="">
	<meta name="author" content="">

   <!-- mobile specific metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

 	<!-- CSS
   ================================================== -->
   <link rel="stylesheet" href="{% static 'infinity/css/base.css'%}">
   <link rel="stylesheet" href="{% static 'infinity/css/vendor.css'%}">
   <link rel="stylesheet" href="{% static 'infinity/css/main.css'%}">

   <!-- script
   ================================================== -->

	<script src="{% static 'infinity/js/pace.min.js'%}"></script>

   <!-- favicons
	================================================== -->
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	<link rel="icon" href="favicon.ico" type="image/x-icon">


<!-- old base imports-->
<link rel="stylesheet" type="text/css" media="all" href="{% static 'css/styles.css'%}">
<link rel="stylesheet" type="text/css" media="all" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css">
<link rel="stylesheet" type="text/css" media="all" href="http://fonts.googleapis.com/css?family=Acme">

<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

<link href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css" rel="stylesheet">

<link href="https://cdnjs.cloudflare.com/ajax/libs/startbootstrap-creative/5.0.2/css/creative.min.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.bundle.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/startbootstrap-creative/5.0.2/js/creative.min.js'></script>

<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

</head>

<style>


/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.3s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.carousel{
    background: #2f4357;
    margin-top: 20px;
    width:50%;
}
.carousel .item{
    min-height: 280px; /* Prevent carousel from being distorted if for some reason image doesn't load */
    float:center;
}
.carousel .item p{
  align:right;
}
.carousel .item img{
    margin: 0 auto; /* Align slide image horizontally center */
}
.bs-example{
	margin: 20px;
}

</style>

<body id="top">

	<!-- header
   ================================================== -->
   <header>

   	<div class="header-logo">
	      <a href="index.html">Infinity</a>
	   </div>

		<a id="header-menu-trigger" href="#0">
		 	<span  class="header-menu-text">Menu</span> <br>
		  	<span onmouseover="openNav()" class="header-menu-icon"> </span>
		</a>

    <div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="#about">About</a>
  <a href="#services">Services</a>
  <a href="#">Clients</a>
  <a href="#contact">Contact</a>
</div>

<!-- Use any element to open the sidenav -->



	</header> <!-- end header -->


   <!-- home
   ================================================== -->
   <section id="home">

   	<div class="overlay"></div>

   	<div class="home-content-table">
		   <div class="home-content-tablecell">
		   	<div class="row">
		   		<div class="col-twelve">

			  				<h3 class="animate-intro">MealDr</h3>
				  			<h1 class="animate-intro">
							Fullfil your dietary demands effortlessly  <br>

				  			</h1>

				  			<div class="more animate-intro">
				  				<a class="smoothscroll button stroke" href="#about">
				  					Learn More
				  				</a>
				  			</div>

			  		</div> <!-- end col-twelve -->
		   	</div> <!-- end row -->
		   </div> <!-- end home-content-tablecell -->
		</div> <!-- end home-content-table -->

		<ul class="home-social-list">
	      <li class="animate-intro">
	        	<a href="#"><i class="fa fa-facebook-square"></i></a>
	      </li>
	      <li class="animate-intro">
	        	<a href="#"><i class="fa fa-twitter"></i></a>
	      </li>
	      <li class="animate-intro">
	        	<a href="#"><i class="fa fa-instagram"></i></a>
	      </li>
         <li class="animate-intro">
           	<a href="#"><i class="fa fa-behance"></i></a>
         </li>
	      <li class="animate-intro">
	        	<a href="#"><i class="fa fa-dribbble"></i></a>
	      </li>
	   </ul> <!-- end home-social-list -->

		<div class="scrolldown">
			<a href="#about" class="scroll-icon smoothscroll">
		   	Scroll Down
		   	<i class="fa fa-long-arrow-right" aria-hidden="true"></i>
			</a>
		</div>

   </section> <!-- end home -->


   <!-- about
   ================================================== -->
   <section id="about">

   	<div class="row about-wrap">
   		<div class="col-full">

   			<div class="about-profile-bg"></div>

				<div class="intro">
					<h3 class="animate-this">About Us</h3>
	   			<p class="lead animate-this"><span>Mealdr</span> is a web application which aspires to provide an intuitive and user-friendly method for collecting data from various sources about foods from restaurants and display it to the users.

</p>
				</div>

   		</div> <!-- end col-full  -->
   	</div> <!-- end about-wrap  -->

   </section> <!-- end about -->


   <!-- about
   ================================================== -->
   <section id="services">

   	<div class="overlay"></div>
   	<div class="gradient-overlay"></div>

   	<div class="row narrow section-intro with-bottom-sep animate-this">
   		<div class="col-full">

   				<h3>Services</h3>
   			   <h1>What We Do.</h1>

   			   <p class="lead">There are many people that have different dietary requirements and on a daily basis struggle to find a place that suits their needs. The source of these need may be cultural, social or religious, among others, but irrespective of their origin, this application aims to help them meet these.</p>

   	   </div> <!-- end col-full -->
   	</div> <!-- end row -->

   	<div class="row services-content">

   		<div class="services-list block-1-2 block-tab-full group">

	      	<div class="bgrid service-item animate-this">

	      		<span class="icon"><i class="icon-earth"></i></span>

	            <div class="service-content">
	            	<h3 class="h05">Maps</h3>

		            <p>The integrated map will display the locations of the nearby restaurants
	         		</p>
	         	</div>

				</div> <!-- end bgrid -->

				<div class="bgrid service-item animate-this">

					<span class="icon"><i class="icon-paint-brush"></i></span>

	            <div class="service-content">
	            	<h3 class="h05">Filtering</h3>

		            <p>Make use of our keywords to filter out based on your preferences
	         		</p>
	            </div>

			   </div> <!-- end bgrid -->

			   <div class="bgrid service-item animate-this">

			   	<span class="icon"><i class="icon-lego-block"></i></span>

	            <div class="service-content">
	            	<h3 class="h05">Menu</h3>

		            <p> Search returns the dishes available to the user from the menu
	        			</p>
	            </div>

			   </div> <!-- end bgrid -->

				<div class="bgrid service-item animate-this">

					<span class="icon"><i class="icon-network"></i></span>

	            <div class="service-content">
	            	<h3 class="h05">Directions</h3>

		            <p> Makes use of our Geolocation services to show directions to the restaurants.
	         		</p>
	            </div>

				</div> <!-- end bgrid -->

	      </div> <!-- end services-list -->

   	</div> <!-- end services-content -->

   </section> <!-- end services -->


   <!-- portfolio
   ================================================== -->
   <section id="portfolio">



   	<div class="intro-wrap">

   		<div class="row narrow section-intro with-bottom-sep animate-this">
	   		<div class="col-twelve">
	   			<h3>Sources</h3>
		   		<h1>We are reliable</h1>

		   		<p class="lead">Lorem ipsum Dolor adipisicing nostrud et aute Excepteur amet commodo ea dolore irure esse Duis nulla sint fugiat cillum ullamco proident aliquip quis qui voluptate dolore veniam Ut laborum non est in officia.</p>
	   		</div>
	   	</div> <!-- end row section-intro -->

   	</div> <!-- end intro-wrap -->

   	<div class="row portfolio-content">
   		<div class="col-twelve">
   			<div id="folio-wrap" class="bricks-wrapper">

   			</div> <!-- end folio-wrap -->
   		</div> <!-- end twelve -->
   	</div> <!-- end portfolio-content -->

   </section>  <!-- end portfolio -->


   <!-- Testimonials Section
   ================================================== -->
   <section id="testimonials">


   </section> <!-- end testimonials -->

	<!-- contact
   ================================================== -->
   <section id="contact">

      <div class="overlay"></div>

		<div class="row narrow section-intro with-bottom-sep animate-this">
   		<div class="col-twelve">
   			<h3>Contact</h3>
   			<h1>Get In Touch.</h1>

   			<p class="lead"> We would love to read your opinion and hear your thoughts. Please do not hesitate to send as a message below.</p>
   		</div>
   	</div> <!-- end section-intro -->

   	<div class="row contact-content">

   		<div class="col-seven tab-full animate-this">

   			<h5>Send Us A Message</h5>

            <!-- form -->
            <form name="contactForm" id="contactForm" method="post">

               <div class="form-field">
 					   <input name="contactName" type="text" id="contactName" placeholder="Name" value="" minlength="2" required="">
               </div>

               <div class="row">
                 	<div class="col-six tab-full">
                 		<div class="form-field">
                 			<input name="contactEmail" type="email" id="contactEmail" placeholder="Email" value="" required="">
                 		</div>
		            </div>
	            	<div class="col-six tab-full">
	            		<div class="form-field">
	            			<input name="contactSubject" type="text" id="contactSubject" placeholder="Subject" value="">
	                  </div>
		            </div>
               </div>

               <div class="form-field">
	              	<textarea name="contactMessage" id="contactMessage" placeholder="message" rows="10" cols="50" required=""></textarea>
	            </div>

               <div class="form-field">
                  <button class="submitform">Submit</button>

                  <div id="submit-loader">
                     <div class="text-loader">Sending...</div>
       			      <div class="s-loader">
							  	<div class="bounce1"></div>
							  	<div class="bounce2"></div>
							  	<div class="bounce3"></div>
							</div>
						</div>
               </div>

      		</form> <!-- end form -->

            <!-- contact-warning -->
            <div id="message-warning"></div>

            <!-- contact-success -->
      		<div id="message-success">
               <i class="fa fa-check"></i>Your message was sent, thank you!<br>
      		</div>

         </div> <!-- end col-seven -->

         <div class="col-four tab-full contact-info end animate-this">

         	<h5>Contact Information</h5>

         	<div class="cinfo">
	   			<h6>Where to Find Us</h6>
	   			<p>
	            Mile End Road<br>
	            	London, UK<br>
	            	E1 4PN
	            </p>
	   		</div> <!-- end cinfo -->

	   		<div class="cinfo">
	   			<h6>Email Us At</h6>
	   			<p>
	   				s.arrieta@se15.qmul.ac.uk<br>
				   	mealdr@gmail.com
				   </p>
	   		</div> <!-- end cinfo -->

	   		<div class="cinfo">
	   			<h6>Call Us At</h6>
	   			<p>
	   				Phone: (+44) 20 3823 8392<br>
				   	Mobile: (+44) 7793348522<br>
				   </p>
	   		</div>

         </div> <!-- end cinfo -->

   	</div> <!-- end row contact-content -->

	</section> <!-- end contact -->


	<!-- footer
   ================================================== -->
	<footer>

    <input type="hidden" id="minValue" >
    <input type="hidden" id="maxValue" >


    <div id="floating-panel">

      <strong>End:</strong>
      <select id="end">
        {% for add in addresses %}
        <option value="{{add.address}}">{{add.address}}</option>
        {% endfor %}
      </select>
    </div>

    
      <div id="right-panel"></div>

      <div class="card text-white bg-dark mb-3" style="width: 18rem;">
      <b style="margin-left:17px" >Radius :</b>
      <div class="card-body">
      <input type="radio"  name="limit" value="1"> 1 KM<br>
      <input type="radio"  name="limit" value="5" > 5 KM <br>
      <input type="radio"  name="limit" value="10" checked> 10 KM <br>
      <input type="radio"  name="limit" value="15" > 15 KM <br>
      </div>
      </div>

      <div id="map"></div>

      <section class="carousel_slide">

        <div class="card text-white bg-dark mb-3" style="width: 18rem;">
        <h3 style="text-align:center" > Preferences </h3>
      <hr>
        <b style="margin-left:17px" >Type :</b>
        <div class="card-body">
        <input type="radio" name="food_type" value="vegetarian"> Vegetarian<br>
        <input type="radio" name="food_type" value="vegan" checked > Vegan <br>
        <input type="radio" name="food_type" value="omnivore" > All <br><br>
        <!--<input type="submit" value="Apply">-->

        <div id="rangedval">
        <b>Price:</b>
        <br>
       <span id="rangevalmin">0 £ -</span><span id="rangevalmax"> 40 £</span>
       </div><br>
        <div id="slider-range"></div>
        <div id="custom-handle" class="ui-slider-handle"></div>&nbsp;

        </div>
        </div>



      </section>
<section>
  <div class="bs-example">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Carousel indicators -->
          <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
          </ol>
          <!-- Wrapper for carousel items -->
          <div class="carousel-inner">
              <div class="item active">
                  <img src="/examples/images/slide1.png" alt="First Slide">
              </div>
              {% for restaurant in restaurants %}

              <div class="item">
                <div id="{{restaurant.id}}" class='iden'>
                  <h4 class="card-title">{{restaurant.name}}</h4>
                  <p class="card-body">{{restaurant.opening}}</p>
                  <button id='menu_button' class='view_menu'>View Menu</button>
                </div>
              </div>
              {% endfor %}

          </div>
          <!-- Carousel controls -->
          <a class="carousel-control left" href="#myCarousel" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="carousel-control right" href="#myCarousel" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
      </div>
  </div>

</section>


   <section>

     <input type="text" id="search" placeholder="Type to search">
     <div class="table-wrapper-scroll-y">
       <table id='myTable' class="table table-bordered table-striped">
         <thead>
           <tr>
             <th scope="col">Name</th>
             <th scope="col">Description</th>
             <th scope="col">Price (£)</th>
           </tr>

         </thead>
         <tbody>

         </tbody>
       </table>

     </div>


     <div id="items_table">
       <ul class="list-group">

       </ul>
   </section>
</footer>
   <div id="preloader">
    	<div id="loader"></div>
   </div>

   <!-- Java Script
   ================================================== -->

   <script>
   function openNav() {
     document.getElementById("mySidenav").style.width = "250px";
   }

   function closeNav() {
     document.getElementById("mySidenav").style.width = "0";
   }
   </script>

   <!-- -->
   <!-- Map src script  AIzaSyCpFC94xiuIL1vHEBiGv43sgVga7aJTA1c-->
   <!-- Map src script  AIzaSyAJEPZQ5TxctelE5tj8FZj6duvzhg0tBb4-->
    <!-- Map src script  AIzaSyBxpCB_Q2b134k5GDY0_6il-9-VYzGYGCg-->
   <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAJEPZQ5TxctelE5tj8FZj6duvzhg0tBb4&libraries=geometry"
             async defer></script>
   <script src="{% static 'scripts/map/scripts.js' %}"></script>

     <!--<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>-->
     <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
   <!-- Ajax imports-->
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" type="text/javascript"></script>

   <!-- slider imports -->
   <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
   <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>




</body>

</html>
