{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>

  header.masthead.text-center.text-white.d-flex{
    background-color:black;
    background-image: url("{%static 'media/img/background/index-header-background.jpeg'%}");
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment: fixed;
    background-position: center;
  }
  .bg-primary {
    background-color:white!important;
}
p.text-faded.mb-4,h2.section-heading{

color:black;

}

section.bg-primary,#services,#contact{
  background-color: #772f1a;
  background-image: linear-gradient(315deg, #772f1a 0%, #f2a65a 74%);
}

img.img-rounded:hover{



}
  </style>


  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">

        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#portfolio">Portfolio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="{% url 'register' %}">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="{% url 'login' %}">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase">
              <strong><font size="">Mealdr</font></strong>
            </h1>
            <hr>
          </div>
          <div class="col-lg-8 mx-auto">
            <p class="text-faded mb-5"><font size="6">Fullfil your dietary demands effortlessly</font></p>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a>
          </div>
        </div>
      </div>
    </header>

    <section class="bg-primary" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">About Us</h2>
            <hr class="light my-4">
            <!--<img class="img-fluid" style="float:right" src="{%static 'media/img/background/about-us.jpg'%}" height=50%; width=50%;></img>-->

            <p class="text-faded mb-4">Mealdr is a web application which aspires to provide an intuitive and user-friendly method for collecting data from various sources about courses from restaurants to display the ideal menu to the users in a concise manner.</p>
            <p class="text-faded mb-4">There are many students, that have different dietary requirements and on a daily basis struggle to find a place that suits their needs. The source of these need may be cultural, social or religious, among others, but irrespective of their origin, this application aims to help them meet these.
            </p>


          <!--  <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Get Started!</a>-->
          </div>
        </div>
      </div>
    </section>


    <section class="p-0" id="portfolio">
      <div class="container-fluid p-0">
        <div class="row no-gutters popup-gallery">
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="{% static 'mealapp/img/portfolio/fullsize/1.jpg'%}">
              <img class="img-fluid" src="{% static 'media/img/portfolio/burger.jpeg'%}" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">

                  </div>
                  <div class="project-name">
                    Burgers
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="{% static 'mealapp/img/portfolio/fullsize/2.jpg'%}">
              <img class="img-fluid" src="{% static 'media/img/portfolio/pasta.jpeg'%}" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">

                  </div>
                  <div class="project-name">
                    Pasta
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="{% static 'mealapp/img/portfolio/fullsize/3.jpg'%}">
              <img class="img-fluid" src="{% static 'media/img/portfolio/spinach.jpg'%}" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">

                  </div>
                  <div class="project-name">
                    Vegetables
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="{% static 'mealapp/img/portfolio/fullsize/4.jpg'%}">
              <img class="img-fluid" src="{% static 'media/img/portfolio/salad.jpeg'%}" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">

                  </div>
                  <div class="project-name">
                    Salads
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="{% static 'mealapp/img/portfolio/fullsize/5.jpg'%}">
              <img class="img-fluid" src="{% static 'media/img/portfolio/cake.jpeg'%}" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">

                  </div>
                  <div class="project-name">
                    Cakes
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="{% static 'mealapp/img/portfolio/fullsize/6.jpg'%}">
              <img class="img-fluid" src="{% static 'media/img/portfolio/straw.jpeg'%}" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">

                  </div>
                  <div class="project-name">
                    Fruits
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>

    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Services</h2>
            <hr class="my-4">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <img class="img-rounded" height=70px; width=70px; src="{%static 'media/img/icons/google-maps.svg'%}">
              <h3 class="mb-3">Maps</h3>
              <p class="text-muted mb-0">The integrated map will display the locations of the nearby restaurants</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <img class="img-rounded" height=70px; width=70px; src="{%static 'media/img/icons/filter-tool.svg'%}">
              <h3 class="mb-3">Filtering</h3>
              <p class="text-muted mb-0">Make use of our keywords to filter out based on your preferences</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <img class="img-rounded" height=70px; width=70px; src="{%static 'media/img/icons/menu.svg'%}">
              <h3 class="mb-3">Menu</h3>
              <p class="text-muted mb-0">Search returns the dishes available to the user from the menu</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fas fa-4x fa-heart text-primary mb-3 sr-icon-4"></i>
              <h3 class="mb-3">Made with Love</h3>
              <p class="text-muted mb-0">You have to make your websites with love these days!</p>
            </div>
          </div>
        </div>
      </div>
    </section>


    <!-- Contact Section -->
    <section id='contact'class="contact-section bg-black">
      <div class="container">

        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Contact</h2>
            <hr class="my-4">
          </div>

          <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
              <div class="card-body text-center">
                <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                <h4 class="text-uppercase m-0">Address</h4>
                <hr class="my-4">
                <div class="small text-black-50">4923 Market Street, Orlando FL</div>
              </div>
            </div>
          </div>

          <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
              <div class="card-body text-center">
                <i class="fas fa-envelope text-primary mb-2"></i>
                <h4 class="text-uppercase m-0">Email</h4>
                <hr class="my-4">
                <div class="small text-black-50">
                  <a href="#">mealdr@gmail.com</a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
              <div class="card-body text-center">
                <i class="fas fa-mobile-alt text-primary mb-2"></i>
                <h4 class="text-uppercase m-0">Phone</h4>
                <hr class="my-4">
                <div class="small text-black-50">+44 (077) 98883488</div>
              </div>
            </div>
          </div>
        </div>

      <br></br>
      </div>

      <div class="box">
    <div class="container">

     	<div class="row">

			    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

					<div class="box-part text-center">

                        <img class="img-rounded" heigh=50px; width=50px; src="{% static 'media/img/icons/google-plus.svg'%}" alt="">

						<div class="title">
							<h4>Google Plus</h4>
						</div>

						<a href="https://plus.google.com/u/3/116371356798232582558" target="_blank">Learn More</a>

					 </div>
				</div>

				 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

					<div class="box-part text-center">

					   <img class="img-rounded" heigh=50px; width=50px; src="{% static 'media/img/icons/linkedin.svg'%}" alt="">

						<div class="title">
							<h4>Linkedin</h4>
						</div>

						<a href="https://www.linkedin.com/in/sergio-qmul/" target="_blank">Learn More</a>

					 </div>
				</div>

				 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

					<div class="box-part text-center">

                        <img class="img-rounded" heigh=50px; width=50px; src="{% static 'media/img/icons/IG.svg'%}" alt="">

						<div class="title">
							<h4>Instagram</h4>
						</div>


						<a href="https://www.instagram.com/mealdrofficial/" target="_blank">Learn More</a>

					 </div>
				</div>

		</div>
    </div>
</div>
    </section>



  </body>

{%endblock%}
